h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p {
  font-weight: 400;
}

body {
  background: #f4f4f4;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  padding-top: 20px;
}

.body-wrapper {
  padding: 5px;
}

.psk-box {
  background: #ffffff;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 3px;
}

.list-box {}

textarea {
  min-width: 400px;
}

.card-custom {
  background: #f7f7f9;
  margin: 0 0 10px 0;
  padding: 5px;
}

.card-point-border {
  border: 1px solid #6610f2;
}

.card-point-poly {
  border: 1px solid #fd7e14;
}

.card-point-border {
  border: 1px solid #43ac6a;
}

.badge-custom {
  margin: 5px 0;
  color: #ffffff;
}

.badge-indigo {
  background: #6610f2;
}